/* Container for the entire card */
.container {
  margin-top: 100px;
  position: relative;
  height: 100%;
}

.delivery-card {
  display: flex;
  width: 800px;
  height: 250px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  font-family: Arial, sans-serif;
}

/* Left section for the image */
.delivery-card-image-desktop {
  background-color: #f9f9f9;
}

/* Hide the image on desktop */
.delivery-card-image-mobile {
  display: none;
}

/* Image styling */
.delivery-card-image-desktop img {
  width: 340px;
  height: 100%;
  object-fit: cover;
}

/* Free gift tag - positioned outside the top corner */
.free-gift-tag {
  position: absolute;
  top: -10px; /* Moves the tag above the container */
  right: -10px; /* Moves the tag outside the right edge of the container */
  background-color: #ffb8ef;
  color: #773e75;
  padding: 4px 14px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  border: 1px solid #e7aada;
  transform: rotate(8deg);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.delivery-card-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px;
  justify-content: space-between;
}

/* Right section for text and buttons */

/* Title and price */
.delivery-card-title {
  font-size: 1.6rem;
  font-weight: bold;
  color: #0d8112;
}

/* Message text */
.delivery-card-message {
  font-size: 1.2rem;
  color: #585858;

  margin: 8px 0 16px;
}

.delivery-card-price {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 8px;
}

/* Buttons */
.delivery-card-buttons {
  display: flex;
  gap: 8px;
  padding-bottom: 20px;
}

.delivery-card-button {
  flex: 1;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
}

.see-details-button {
  background-color: #0d8112;
  color: white;
  border: none;
}

.edit-delivery-button {
  background-color: white;
  color: #0d8112;
  border: 2px solid #0d8112;
}

/* Responsive styles */
@media (max-width: 600px) {
  .container {
    margin-top: auto;
    margin: 60px 10px 10px 10px;
  }

  .delivery-card {
    width: 100%;
  }

  .delivery-card-image-desktop {
    display: none;
  }

  .delivery-card-image-mobile {
    display: block;
    top: -25px;
    position: absolute;
    left: 50%; /* Position at the horizontal center */
    transform: translateX(-50%);
  }

  .delivery-card-image-mobile img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }

  .free-gift-tag {
    top: unset;
    width: 91px;
    height: 25px;
    position: absolute;
    bottom: -15px; /* Position at the bottom */
    right: 0; /* Align to the right */
    padding: 2px 5px; /* Add padding for better appearance */
    font-size: 14px;
    left: 50%; /* Position at the horizontal center */
    transform: translateX(-50%) rotate(-8deg);
    text-align: center;
  }

  .delivery-card-content {
    padding-top: 30px;
    text-align: center;
  }

  /* Message text */
  .delivery-card-message {
    font-size: 1.2rem;
    color: #585858;

    margin: 8px 0 16px;
  }

  .delivery-card-price {
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 8px;
  }
}
